/* Cette classe permet de cacher  l'overflow des lignes quand on fait le "drag" du rectangle*/

.line, .line2 , .line3 {  
    clip-path: url(#clip);
  }

.svg_main{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
}
text{
  font-size: 10px;
}
p{
  font-size: 15px;

}
